*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(37, 37, 37);
}
.parent{
    background-color: rgb(255, 255, 255);
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    padding: 40px;
}
.container p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.container button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 3px 22px 10px rgba(0, 0, 0, 0.1);
    margin-top: 12px;
}
.container button:hover{
    background-color: rgb(0, 0, 0, 0.8);
}
#qr-codeBox{
    width: 53.5%;
    border: 1px solid gray;
}